@import url(http://fonts.googleapis.com/css?family=Permanent+Marker|Homemade+Apple|Cedarville+Cursive);

body {
	background: #cccccc;
}
h3 {
	text-align: center;
	font-family: "Permanent Marker";
}
#message-header {
	margin-top: 10px;
}
#flash-message {
	padding: 5px;
	border: 1px solid transparent;
}
#flash-message.error {
	color: red;
	border: 1px solid red;
	background: #fcb3bc;
}
#flash-message.good-vibes {
	color: green;
	border: 1px solid green;
	background: #c0d890;
}
.coolbox {
	border: 1px solid #000000;
	background: #fff;
	margin-top: 20px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow:  5px 5px 5px 5px rgba(120, 120, 120, .6);
    box-shadow:  5px 5px 5px 5px rgba(120, 120, 120, .6);
}
#add-todo-item .button.small {
	margin-top: 15px;
}
.green-txt {
	color: green;
}
#todo-list p span.name {
	font-size: 30px;
	font-family: "Homemade Apple","Cedarville Cursive", Cursive, serif;
}
#todo-list p span.name.strikethrough {
	text-decoration:line-through;
}
#todo-list p {
	border-bottom: 1px solid #cccccc;
}
#todo-list p:last-child {
	border-bottom: 0px solid #cccccc;
}

#mark-all-as-complete {
	font-size: 10px;
}

#total-count {

	color: #000;
}