<html>
<head>
  <title>Javascript TODO LIST</title>
  <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/foundation/4.3.1/css/foundation.css">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="row" id="message-header">
	<div class="large-12 columns">
		<div class="large-3 columns">
			<span>&nbsp;</span>
		</div>
		<div class="large-6 columns flashmsg">
			<div id="flash-message"></div>
		</div>
		<div class="large-3 columns">
			<span>&nbsp;</span>
		</div>
	</div>	
</div>
<div class="row">
	<div class="large-12 columns">
		<div class="large-3 columns">
			<span>&nbsp;</span>
		</div>
		<div class="large-6 columns coolbox">
			<h3>My Todo List</h3>
			
			
			<form id="add-todo-item" class="clearfix">
				<div class="large-10 columns">
					<label>New Todo Item:</label>
						<input type="text" placeholder="What needs to be done?" id="new-todo-item-title" />
				</div>
				<div class="large-2 columns">
					<input class="submit button small" type="submit" value="Add" />
				</div>
			</form>
			<br clear="all" />
			<div id="mark-all-as-complete-wrapper">
				<p>Mark all as complete: <input type="button" id="mark-all-as-complete" class="button success" value="Complete" /></p>
			</div>
			

			<div id="todo-list" class="clearfix"></div>
			<div id="total-count"><span id="total-count-counter">0</span> items left</div>
		</div>
		<div class="large-3 columns">
			<span>&nbsp;</span>
		</div>
	</div>
</div>





<div id="templates">

	<script class="todo-item" type="text/template">
		<p class="todo-item-wrapper">
			<% if (complete == true) {%>
				<span class="name strikethrough">&bull; <%= name %></span> 
				<span> | </span>
				<span class="green-txt"><strong><i class="icon-ok"></i> Completed</strong></span>
			<% } else { %>
				<span><input type="checkbox" class="check-todo" data-title="<%= name %>" data-id="<%= id %>" /></span>
				<span class="name incomplete" data-id="<%= id %>"><%= name %></span> 
			<% } %>
		</p>
	</script>


	<script id="total-num-todo-item" type="text/template">
		<p><%= %> items left ...</p>
	</script>


	<script class="edit-todo-item" type="text/template">
		<div class="row">
			<div class="large-12 columns edit-todo-item-wrapper">
				<form>
					<div class="large-10 columns">
						<input type="text" class="edit-todo-item" value="<%= name %>" />
					</div>
					<div class="large-2 columns">
						<input class="button successs small" type="submit" value="save" />
					</div>
				</form>
			</div>	
		</div>
	</script>

</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore.js"></script>
<script type="text/javascript">
	var newTodoTitle;
	var toDoListDiv = $('#todo-list');
	var flashMessage = $('#flash-message');
	var tasks = [];
	var totalCountCounter = $('#total-count-counter');

	var TodoList = function(array) {
		this.list = array;
		this.updateList(this.list);
	};
	TodoList.prototype.updateList = function () {
		var todoTemplateHtml = $('#templates .todo-item').html();
	    var scoreTemplate = _.template(todoTemplateHtml);
	    var newTodoListHtml;
	    for (var i = 0; i < this.list.length; i++) {
	        newTodoListHtml = scoreTemplate(this.list[i]);
	        toDoListDiv.append(newTodoListHtml);
	    }
	};
	TodoList.prototype.addToList = function(todoItem) {
		var arrayLength = this.list.length;
		var newTodoItem = {
			id: arrayLength,
			name: todoItem, 
			complete: false
		};
		this.list.push(newTodoItem);
		this.updateList();
	};
	TodoList.prototype.updateTodoStatus = function(thisTodoID, thisIfComplete) {
		for (var i = 0; i < this.list.length; i++) {

	        if (this.list[i].id === thisTodoID) {
	        	if (thisIfComplete === true) {
	        		this.list[i].complete = true;
	        	} else {
	        		this.list[i].complete = false;
	        	}
	        }
	        toDoListDiv.html('');
	        this.updateList();
	    }
	};
	TodoList.prototype.returnTotalNumberItems = function() {
		return this.list.length;
	};
	TodoList.prototype.markAllAsComplete = function() {
		for (var i = 0; i < this.list.length; i++) {
	        this.list[i].complete = true;
	    }
	    toDoListDiv.html('');
	    this.updateList();
	};
	TodoList.prototype.returnTotalNumberItemsLeft = function() {
		var totalNumber = 0;
		for (var i = 0; i < this.list.length; i++) {
	        if(this.list[i].complete === false) {
	        	totalNumber = totalNumber + 1;
	        }
	    }
	    return totalNumber;
	};
	TodoList.prototype.returnToDoEditForm = function(toDoID, toDoTitle) {
		var editTodoTemplateHtml = $('#templates .edit-todo-item').html();
		var editTodoTemplate = _.template(editTodoTemplateHtml);
		var editingTodoItem = {
			id: toDoID,
			name: toDoTitle, 
			complete: false
		};
		editTodoListHtml = editTodoTemplate(editingTodoItem);
	    //toDoListDiv.append(editTodoListHtml);
	    return editTodoListHtml;
	}
	

	var refreshTotalNumLeft = function () {
		var currentNumber = mylist.returnTotalNumberItemsLeft();
    	totalCountCounter.text(currentNumber);
	}

	$('#add-todo-item .submit').on('click', function(e) {
    	e.preventDefault();
    	newTodoTitle = $('#add-todo-item #new-todo-item-title').val();
    	if (newTodoTitle.length !== 0) {
    		toDoListDiv.html('');
	    	mylist.addToList(newTodoTitle);
	    	$('#add-todo-item')[0].reset();
	    	flashMessage.removeClass('error').addClass('good-vibes').html('Todo Item Added!').show();
	    	if ($(flashMessage).hasClass('good-vibes')) {
				setTimeout("$(flashMessage).fadeOut('fast')", 2000); 
			}
    	} else {
    		flashMessage.removeClass('good-vibes').addClass('error').html('You cannot enter an empty todo item.  Silly ;) ').show();
    	}
    	refreshTotalNumLeft();
    });

	$(document).on('click', '.check-todo', function(e) {
    	var thisTodoID = $(this).data('id');
    	if($(this).attr('checked', 'checked')) {
    		var thisIfComplete = true; 
    	} else {
    		var thisIfComplete = false; 
    	}
    	mylist.updateTodoStatus(thisTodoID, thisIfComplete);
    	refreshTotalNumLeft();
    });

	$('#mark-all-as-complete').on('click', function() {
		mylist.markAllAsComplete();
		refreshTotalNumLeft();
	});

	$(document).on('dblclick', '.name.incomplete', function() {
		var thisText = $(this).text();
		var thisTodoID = $(this).data('id');

		var editTodoListHtml = mylist.returnToDoEditForm(thisTodoID, thisText);
		//alert(thisText);
		$(this).parent('.todo-item-wrapper').html(editTodoListHtml);


		// @TODO: NEED TO MAKE A NEW TEMPLATE FOR THIS
		// @TODO: LINE NEEDS TO TURN INTO (CHECKBOX) (INPUT) (SUBMIT BUTTON - DISPLAY NONE - THEN WHEN IN FORM CAN CLICK ENTER IN THE INPUT BOX)
	});

	// $(document).on('submit', '.edit-todo-item', function(e) {
	// 	e.preventDefault();
	// 	var thisText = $(this).val();
	// 	alert(thisText);
	// });

	

	mylist = new TodoList(tasks);
</script>

</body>
</html>
